{% extends 'base.html' %}

{% block content %}
<h3>Edit Customer</h3>

<form method="post">
    {% csrf_token %}
    <input class="form-control mb-2" name="name" value="{{ customer.name }}">
    <input class="form-control mb-2" name="email" value="{{ customer.email }}">
    <input class="form-control mb-2" name="phone" value="{{ customer.phone }}">
    <button class="btn btn-primary">Update</button>
    <a href="{% url 'customer_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
